body,
ul {
    margin: 0%;
    padding: 0%;
}

body {
    background: white;
    ;
}

h1 {
    font-family: 'Open Sans';
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    line-height: 108px;
    text-transform: uppercase;
    color: #4E98EE;
}

.conf {
    width: 384px;
    height: 47px;
    left: 478px;
    top: 755px;
    font-size: large;
    border-radius: 6px;
    color: white;
    background: #4E98EE;
    font-family: 'Open Sans';
}

.mai {
    font-family: 'Open Sans';
    height: 40px;
    width: 384px;
    left: 478px;
    top: 410px;
    border-radius: 4px;
    font-size: large;
    padding-top: 10px;
    text-align: left;
    text-indent: 25px;
}

.inf {
    padding-bottom: 40px;
}

.esp {
    padding-bottom: 35px;
}

p {
    color: #39A448;
    width: 163px;
    height: 32px;
    font-family: 'Open Sans';
    font-size: 11px;
    line-height: 20px;
    text-align: right;
}

.imp {
    font-family: Montserrat;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.ip {
    display: flex;
    justify-content: center;
    width: 384px;
}

.psw {
    font-family: Montserrat;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.ps {
    display: flex;
    justify-content: center;
    width: 384px;
}