body,
ul {
    margin: 0%;
    padding: 0%;
}

body {
    background: white;
    ;
}

h1 {
    font-family: 'Open Sans';
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    text-transform: uppercase;
    color: #39A448;
}

.conf {
    width: 384px;
    height: 47px;
    left: 478px;
    top: 755px;
    font-size: large;
    border-radius: 6px;
    color: white;
    background: #39A448;
    font-family: 'Open Sans';
}

.mai {
    font-family: 'Open Sans';
    height: 20px;
    width: 384px;
    left: 478px;
    top: 410px;
    border-radius: 4px;
    font-size: large;
    padding-top: 10px;
    text-align: left;
}

.inf {
    padding-bottom: 30px;
}

.esp {
    padding-bottom: 45px;
}

p {
    color: blue;
    width: 163px;
    height: 32px;
    font-family: 'Open Sans';
    font-size: 11px;
    line-height: 20px;
    text-align: right;
}

.container {
    font-family: 'Open Sans';
    font-size: 12px;
}

.inp {
    left: 430px;
    bottom: 5px;
}