.header__main {
	display: flex;
	align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 70px;
}

.nav__list .nav__item a{
    color: white;
}

.header__nav .nav__list {
	display: flex;
    list-style: none;
    margin: 0;
    height: 100%;
}

.header__logo img {
	height: 70px;
	width: 200px;
}

.header__nav .nav__item {

	text-transform: uppercase;
    font-size: 20px;

}
.header__nav .nav__item:hover{
    background-color: #39A448;
}

.header__nav .nav__item a {
    padding: 0px 25px;
    height: 100%;
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
	text-decoration: none;
}
.nav-profile-list ul{
    text-align: right;
    padding: none;
}
.nav-profile-list {
    list-style-type: none;
}

.nav-item-container{
    display: flex;
    height: 100%;
    padding-left: 30px;
}
.nav-item-container:hover{
    background-color: black;
}
.nav-item-img{
    height: 64px;
    width: 64px;
}
.nav-item-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.nav-list-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    cursor: pointer;
}
.nav-item-container__wrapper{
    font-size: 10px;
    padding-top: 70px;
    color: black;
    z-index: 99999;
    display: none;
}
.flex{
    display: flex;
}

nav.menu ul li a.active,
nav.menu ul li a:hover {
    background: #069370;
    color: black;
    transition: 0.5s;
}

.item-container-profil li a{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color: black;
}



footer{
    background-color: #4b4b4b;
    position: relative;
    /* bottom: 0; */
    width: 100%;
    bottom: 0%;
}
footer a{
    color: whitesmoke;
}
.list__footer{
    color: whitesmoke;
}