{% extends 'base.html.twig' %}
{% block title %}Modify Password{% endblock %}
{% block link %} <link rel="stylesheet" href="{{ asset('/css/mdp.css')}}">{% endblock %}


{% block body %}
          <div class="container mt-5">
            <h1> Réinitialiser le mot de passe </h1>

            <p>Veuillez entrer votre adresse e-mail. Vous recevrez ensuite un e-mail contenant un lien de confirmation qui vous permettra de définir votre nouveau mot de passe.</p>
            <p>Si vous ne recevez pas cet e-mail, veuillez vérifier le contenu de votre courrier indésirable ou entrer de nouveau votre adresse e-mail.</p>

            <div >
              <button class="conf" type="submit">Connexion</button>
            </div>

           </div>
{% endblock %}