{% extends 'base.html.twig' %}
{% block title %}Modify Password{% endblock %}
{% block link %} <link rel="stylesheet" href="{{ asset('/css/mdp.css')}}">{% endblock %}


{% block body %}
<div class="container">
    <center>
      <div class="container mt-5">
        <h1> Réinitialiser le mot de passe </h1>
        <div class="parag mt-5">      
          <p>Veuillez entrer votre adrese e-mail. Vous recevrez ensuite un e-mail contenant un lien de confirmation qui vous permettra de définir votre nouveau mot de passe.</p>
        </div>
        <div class="parag mt-3">      
          <p>Si vous ne recevez pas cet e-mail, veuillez vérifier le contenu de votre courrier indésirable ou entrer de nouveau votre adresse e-mail.</p>
        </div>

        <div class="renis">
          <input class="mail" placeholder="Adresse mail" type="text">
        </div>
        <div class="container-ip">
           <div class="check-m">
               <p>Mot de passe oublié ?</p>
           </div>
        </div>
        

        <div class="btn-renis">
          <button class="conf mt-5" type="submit">Réinitialiser</button>
        </div>

      </div>
          
    </center>
</div>

          
{% endblock %}