
	{% extends 'base.html.twig' %}
	{% block link %}
	<link rel="stylesheet" href="{{ asset('/css/profilModifyPassword.css')}}">
	{% endblock %}
	{% block title %}Profil{% endblock %}

	{% block body %}


<div class="container__top">
	<div class="container__top-profile">
		<div class="container__top-profile-img">
			<img src="https://source.unsplash.com/user/erondu" alt="">
		</div>
		<div class="container__top-login">
			<div class="container__top-login-pseudo">
				<h3>Pseudo</h3>
			</div>
			<div class="container__top-login-username">
				<a href="#">Nom</a>
				<a href="#">Prénom</a>
				<a href="#">21 ans</a>
			</div>
		</div>
	</div>
		<div class="container__top-button">
			<button type="submit">Modifier mot de passe</button>
			<button type="submit">Modifier le profil</button>
		</div>
</div>

<div class="container__midl">
	<div class="container__mdl-menu-vertcl">
		<ul>
			<li><a href="#">Général</a></li>
			<li><a href="#">Historique</a></li>
			<li><a href="#">Transactions</a></li>
		</ul>
	</div>
	<div class="container__mdl-menu-horiz">
		<div class="container__mdl-menu-horiz-left">
			<a href="#">Dépot</a>
			<a href="#">Retrait</a>
		</div>
		<div class="container__mdl-menu-horiz-right">
			<a href="#">250.50$</a>
		</div>
	</div>
</div>
<form action="" method="post">
<div class="container__bottom">

    <div class="container__bottom-block">
        <input type="password" placeholder="Ancien mot de passe" name="lastPassword">
    </div>
    <div class="container__bottom-block">
       <input type="password" placeholder="Nouveau mot de passe" name="newPassword">
    </div>
    <div class="container__bottom-block">
         <input type="password" placeholder="Confirmation" name="repeatNewPassword">
    </div>
	
</div>
	<div class="container__bottom-button">
		<button type="submit">Confirmer</button>
	</div>
</form>
</div>



{% endblock %}
{% block js %}
<script>
    var displayBlock = document.querySelector(".display");
    var formModify = document.querySelector(".formModify");
    var password = document.querySelector(".password");

    var modifyProfil = document.querySelector(".modifyProfil-js")
    var modifyPassword = document.querySelector(".modifyPassword-js")

    function displayForm() {
        if (password.classList.contains('display')){
            password.classList.replace('display', 'password');
            formModify.classList.replace('formModify', 'display');
        }
        else if (displayBlock.classList.contains('display')) {
            displayBlock.classList.replace('display', 'formModify');
            formModify.classList.replace('formModify', 'display');
        } else {
            displayBlock.classList.replace('formModify', 'display');
            formModify.classList.replace('display', 'formModify');
        } 
        

    }

    function displayPassword() {
        if (formModify.classList.contains('display')){
            formModify.classList.replace('display', 'formModify');
            password.classList.replace('password', 'display');
        }
        else if (displayBlock.classList.contains('display')) {
            displayBlock.classList.replace('display', 'password');
            password.classList.replace('password', 'display');
        } else {
            displayBlock.classList.replace('password', 'display');
            password.classList.replace('display', 'password');
        }
    }

    modifyProfil.addEventListener('click', displayForm)
    modifyPassword.addEventListener('click', displayPassword)
</script>
{% endblock %}

  
