{% extends 'base.html.twig' %}
 {% block link %}<link rel="stylesheet" href="{{ asset('/css/recoverPassword.css')}}"> {% endblock %} 

{% block title %}recover Password{% endblock %}

{% block body %}
<h1>Recuperation de mot de passe</h1>