{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}
{% block link %} <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
                 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="{{ asset('/css/userTable.css')}}">

{% endblock %}


{% block body %}


<div class="row">
    <div class="col-sm-4">
        <h3 class="title--left"> Admin </h3>

        <ul class="list-group">
        

            <div class="line"></div>


            <div>
                <img class="img--left" src="{{ asset('/img/dashboard.png')}}"  alt="">
                <a href="#" class="list--left">Dashboard</a>
            </div>
            
            <div class="line"></div>

            
            <h5> Jeux </h5>
            <div>

                <img class="img--left" src="{{ asset('/img/dashboard.png')}}"  alt="">
                <a href="#" class="list--left">Jeux</a>
            
            </div>
            

            <div class="line"></div>


            <h5> Utilisateurs </h5>
            <div>

                <img class="img--left" src="{{ asset('/img/tab.png')}}"  alt="">
                <a href="#" class="list--left">Utilisateurs</a>

            </div>

            <div class="line"></div>

        </ul>
    
    </div>

    <div class="col-sm-8">
        <h3> Tableau </h3>
    </div>
    
</div>




{% endblock %}